
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.page {
    margin-top: 60px;
    height: 90%;
}

#pageOrdine {
    position: absolute;
    width: 100%;
}


.collection .collection-item {
    padding: 5px 10px;
}

.collection.with-header .collection-item {
    padding: 5px 10px;
}

.fascia-item {
    text-align: center;
    padding: 20px 5px;
    font-size: 2em;
    border-radius: 15px;
    margin: 5px;
}

.giorno-item {
    text-align: center;
    font-size: 1.8em;
}

.giornoNonValido {
    color: lightslategray;
    font-weight: 700;
}

.giornoValido {
    color: green;
    font-weight: 700;
}

.fasciaNonValida {
    background-color: red;
    color: white;
}

.fasciaWarn {
    background-color: orange;
    color: white;
}

.fasciaValida {
    color: white;
    background-color: green;
    font-weight: 700;
    border-color: tomato;
    border-width: thick;
}

.button {
    text-align: center;
    margin: 8px;
    background-color: antiquewhite;
    padding: 10px 5px;
    font-size: 1.2em;
    font-weight: 700;
}

#versione {
    color: lightgray;
    padding: 0 15px;
}
